<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Templetes</title>
  </head>
  <body>
    <h1>This is Ejs Templetes</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam minus
      nisi accusantium dicta adipisci facere repudiandae, harum architecto
      mollitia eos ex non, modi laboriosam amet dolorum minima, impedit
      quibusdam perferendis?
    </p>

    <button>Click me</button>
  </body>
</html>
